@import "./../base/base.css";

.landing {
	min-width: 100%;
	min-height: 100%;
	overflow-x: hidden;
	background: var(--hackathon-landing-bg); 
}

/* NAVBAR */
.navbar {
	background: transparent;
}
.navbar.change-bg {
	background: var(--navbar-bg);
}
.navbar.scroll-down,
.navbar.scroll-up {
	transition: top 1s;
}
.navbar.scroll-down {
	top: -100px;
}
.navbar.scroll-up {
	top: 0px;
}
.navbar.change-bg .nav-link.active {
	background: var(--landing-bg);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.nav-link {
	color: var(--white);
}
.nav-link.active {
	color: var(--blue);
}
.nav-item .btn {
	border: 2px solid var(--white);
	border-radius: 32px;
	padding-left: 2rem !important;
	padding-right: 2rem !important;
}

.text-orange{
    background-image: var(--heading-orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent
}

.button-orange{
    background-image: var(--btn-orange);
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 75px;
    border-radius: 32px;

    letter-spacing: 0.1em;
    color: white;
    text-align: center;
}

.text-med-light{
    color: var(--white);
}

/* Landing Wrapper */
.landing-wrapper {
  position: relative;
  z-index: 1;
  padding-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  color: var(--white);
}

.hackathon-title {
  letter-spacing: 1rem;
  background: var(--white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.hackathon-content {
  color: var(--white);
  margin: 1rem 0;
  padding: 0 10rem;
}

.hackathon-description {
  font-size: 2rem;
}

.talk-btn {
  background: var(--btn-orange);
  border: none;
  border-radius: 32px;
  padding: 15px 75px;
  color: var(--white);
  letter-spacing: 0.1rem;
  font-weight: 600;
  margin: 1rem 0;
}

#talk-btn:hover {
  cursor: pointer;
}

.technoscape-collab {
  font-size: 1.5rem;
  font-weight: 400;
}

.collab-logo {
  margin: 1rem;
  max-width: 15%;
}

/*Wave*/
.wave {
  height: 100px;
}
.wave-img {
  transform: matrix(-1, 0, 0, 1, 0, 0);
  position: absolute;
  bottom: -100px;
  z-index: 0;
  border: none;
}

.star {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 75%;
  max-width: 100%;
  z-index: -2;
}

.navbar-toggler {
  visibility: hidden;
}
.toggle-btn img {
  width: 100%;
}

/* Landing Responsive */
@media screen and (max-width: 1200px) {
  .talk-btn {
    padding: 14px 55px;
    letter-spacing: 0.1rem;
  }
  .wave-img {
		bottom: -90px;
	}
}

@media screen and (max-width: 992px) {

  .hackathon-content {
		padding: 0 2rem;
	}

  .star {
    top: 100px;
    left: 50%;
    width: 100%;
    max-width: 100%;
  }

  .collab-logo {
    max-width: 25%;
  }

  .talk-btn {
    padding: 10px 65px;
    letter-spacing: 0.1rem;
  }
  
  .wave-img {
		bottom: -70px;
	}
  
}

@media screen and (max-width: 768px) {
  .hackathon-title {
    letter-spacing: 10px;
  }
  .hackathon-description {
		font-size: 1.6rem;
	}
  .star {
    top: 100px;
    left: 50%;
    width: 100%;
    max-width: 100%;
  }

  .collab-logo {
    max-width: 25%;
  }

  .talk-btn {
    padding: 10px 65px;
    letter-spacing: 0.1rem;
  }
  
  .wave-img {
		bottom: -55px;
	}
  
}

@media screen and (max-width: 576px) {
  .hackathon-title {
    letter-spacing: 0.8rem;
  }
  .hackathon-description {
    font-size: 1.4rem;
    padding-bottom: 1rem;
  }
  .hackathon-content {
    font-size: 1rem;
    padding: 0 5rem;
  }
  /* Accessories */
  .star {
    top: 200px;
    left: 50%;
    width: 80%;
    max-width: 100%;
  }

  .collab-logo {
    max-width: 30%;
  }

  .talk-btn {
    font-size: 1.5rem;
    padding: 8px 45px;
    letter-spacing: 0.1rem;
  }

  .wave-img {
		bottom: -45px;
	}
}

@media screen and (max-width: 428px) {
  .landing-wrapper {
		padding-top: 0;
	}
  .collab-logo {
		margin: 0 0.2rem;
		max-width: 40%;
	}
  .hackathon-title {
    letter-spacing: 0.5rem;
  }
  .hackathon-description {
    font-size: 1.2rem;
    padding: 0 5rem;
    letter-spacing: 0;
  }
  .hackathon-content {
    font-size: 1rem;
    margin-bottom: 2rem;
    padding: 0 4rem;
    padding-bottom: 2rem;
  }
  .talk-btn {
    font-size: 1.5rem;
    padding: 8px 45px;
    letter-spacing: 0.1rem;
  }
  .wave-img {
		bottom: -35px;
	}
}
