@import './../base/base.css';

.landing {
  min-width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  position: relative;
  background: linear-gradient(
    151.12deg,
    #ef8197 19.15%,
    rgba(122, 150, 248, 0) 91.38%
  );
}

/* NAVBAR */
.navbar {
  background: transparent;
}

.navbar.change-bg {
  background: var(--navbar-bg);
}

.navbar.scroll-down,
.navbar.scroll-up {
  transition: top 1s;
}

.navbar.scroll-down {
  top: -100px;
}

.navbar.scroll-up {
  top: 0px;
}

.navbar.change-bg .nav-link.active {
  background: var(--landing-bg);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-link {
  color: var(--white);
}

.nav-link.active {
  color: var(--blue);
}

.nav-item .btn {
  border: 2px solid var(--white);
  border-radius: 32px;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

/* WAVE */
.wave {
  height: 100px;
}
.wave .wave-img {
  transform: matrix(-1, 0, 0, 1, 0, 0);
  position: absolute;
  bottom: -100px;
  z-index: 0;
  border: none;
}

.footer .wave-img {
  transform: matrix(0, 0, 0, 1, 0, 0);
}

.landing-wrapper {
  max-width: 100vw;
  position: relative;
  z-index: 1;
  height: 90vh;
  padding-top: 4rem;
  text-align: center;
  color: var(--white);
  display: flex;
}

.landing-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.technoscape-title {
  letter-spacing: 1rem;
  background: var(--heading-orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  line-height: 6rem;
}

.technoscape-content {
  color: var(--pale-blue);
  margin: 2rem 0;
}

.technoscape-description {
  letter-spacing: 0.1rem;
}

.talk-btn {
  background: var(--btn-orange);
  border: none;
  border-radius: 32px;
  padding: 1rem 2rem;
  color: var(--white);
  letter-spacing: 0.1rem;
  font-weight: 600;
  margin: 1rem 0;
  width: 20rem;
}

.technoscape-collab {
  font-size: 1.5rem;
  font-weight: 400;
}

.collab-logo {
  margin: 1rem;
  max-width: 15%;
}

.star-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.star {
  position: fixed;
  top: 100px;
  margin: 0 auto;
  /* left: 50%; */
  /* transform: translate(20%, 80%); */
  /* transform: translateX(-50%); */
  width: 75%;
  z-index: 1;
  max-width: 100%;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
}

.about .text-header span {
  background: linear-gradient(180deg, #ffc19e 6.25%, #ffffff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.why {
  color: white;
}

.why .text-header {
  background: linear-gradient(180deg, #ffc19e 6.25%, #ffffff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.why .card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 31rem;
  width: 22rem;
  padding: 2.5rem;
  border-radius: 32px;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.4)
  );
}

.why .card img {
  width: 15rem;
  mix-blend-mode: luminosity;
}

.why .card:hover img {
  mix-blend-mode: initial;
}

.why .text-subheader {
  /* text-shadow: 0px -30px 70px 0px 130, 169, 249, 0.45; */
  box-shadow: 0px -30px 70px 0px 130, 169, 249, 0.45;
}

.speaker .text-header {
  background: linear-gradient(180deg, #ffc19e 6.25%, #ffffff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.speaker .card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  height: 25rem;
  width: 35rem;
  padding: 2rem 1rem;
  text-align: center;
  border-radius: 32px;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.4)
  );
}

.speaker .card-img img {
  mix-blend-mode: luminosity;
  width: 100%;
}

.speaker .card .card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.speaker .card .card-heading {
  color: rgba(181, 207, 252, 1);
}

.speaker .card .card-name {
  color: white;
}

.speaker .card .card-desc {
  color: #f4f4f4;
  opacity: 0.65;
}

.speaker .card .card-date {
  color: white;
  padding: 0.5rem;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  border-radius: 32px;
  font-size: 1rem;
}

.speaker .card .card-time {
  color: white;
  font-size: 1rem;
}

.ticket {
  text-align: center;
  color: white;
}

.ticket-illus {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.ticket .text-super {
  background: linear-gradient(180deg, #ffc19e 6.25%, #ffffff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ticket .btn {
  background: var(--btn-orange);
  border: none;
  border-radius: 32px;
  padding: 1rem 2rem;
  color: var(--white);
  letter-spacing: 0.1rem;
  font-weight: 600;
  margin: 1rem 0;
  width: 20rem;
}

.faq .text-header {
  background: linear-gradient(180deg, #ffc19e 6.25%, #ffffff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.faq img {
  width: 100%;
}

.faq .faq-content {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  padding: 0 1rem;
  width: 100%;
  height: 100%;
  color: white;
}

.faq .content {
  background: radial-gradient(
    88.77% 88.77% at 25.41% 9.11%,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  backdrop-filter: blur(40px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.faq .faq-content-item {
  margin: 1rem 0;
}

.faq .faq-content .ques {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.faq .faq-content .ans {
  display: none;
}

.faq .faq-btn {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  cursor: pointer;
}

.faq .faq-btn .btn-y {
  width: 0.3rem;
  height: 1.5rem;
  background-color: rgba(129, 119, 247, 1);
  transition: 1s;
}

.faq .faq-btn .btn-x {
  width: 1.5rem;
  height: 0.3rem;
  position: absolute;
  top: 0.6rem;
  left: -0.6rem;
  background-color: rgba(129, 119, 247, 1);
}

.faq .faq-content-item.active .faq-btn .btn-y {
  transform: rotate(90deg);
}

.faq .faq-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.faq .faq-nav img {
  width: 1rem;
  margin: 0 5rem;
  display: block;
  z-index: 5;
}

.faq .faq-nav img:hover {
  cursor: pointer;
}

.faq .slick-dots {
  bottom: -3rem;
}

.faq .slick-dots li button::before {
  content: '';
  width: 1.5rem;
  height: 0.2rem;
  background-color: white;
}

.share .btn {
  background: var(--btn-orange);
  border: none;
  border-radius: 32px;
  padding: 1rem 2rem;
  color: var(--white);
  letter-spacing: 0.1rem;
  font-weight: 600;
  margin: 1rem 0;
  width: 50%;
}

.share .text-header {
  color: white;
}

.share .text-main {
  color: white;
  font-size: 1rem;
}

.share .text-header span {
  background: linear-gradient(180deg, #ffc19e 6.25%, #ffffff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.share .modal .modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: radial-gradient(
    88.77% 88.77% at 25.41% 9.11%,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  backdrop-filter: blur(50px);
  border-radius: 32px;
  border: 1px solid rgba(157, 157, 157, 1);
}

.share .modal .modal-content span {
  color: rgba(157, 157, 157, 1);
}

.share .modal .modal-content img {
  margin: 2rem 0;
}

.share .modal .modal-content .icons img {
  margin: 2rem 1rem;
}

.sponsors {
  background-color: var(--background);
  min-height: 100vh;
  color: white;
  text-align: center;
}

.sponsors .text-header {
  background: linear-gradient(180deg, #ffc19e 6.25%, #ffffff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sponsors .sponsors-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.sponsors .sponsors-content .sponsors-content-item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: linear-gradient(
    112.5deg,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.1)
  );
  backdrop-filter: blur(10px);
  border-radius: 10px;
  /* border: 1px solid rgba(255, 255, 255, 0.4); */
}

.sponsors .sponsors-content#platinum .sponsors-content-item {
  width: 22rem;
  height: 13rem;
}

.sponsors .sponsors-content#platinum .sponsors-content-item::after {
  content: '';
  width: calc(22rem - 1px);
  height: calc(13rem - 1px);
  border-radius: 10px;
  background-color: var(--background);
}

.sponsors .sponsors-content#gold .sponsors-content-item {
  width: 16rem;
  height: 10rem;
}

.sponsors .sponsors-content#gold .sponsors-content-item::after {
  content: '';
  width: calc(16rem - 1px);
  height: calc(10rem - 1px);
  border-radius: 10px;
  background-color: var(--background);
}

.sponsors .sponsors-content#silver .sponsors-content-item {
  width: 13rem;
  height: 9rem;
}

.sponsors .sponsors-content#silver .sponsors-content-item::after {
  content: '';
  width: calc(13rem - 1px);
  height: calc(9rem - 1px);
  border-radius: 10px;
  background-color: var(--background);
}

.sponsors .sponsors-content#medpar .sponsors-content-item {
  width: 12rem;
  height: 9rem;
}

.sponsors .sponsors-content#medpar .sponsors-content-item::after {
  content: '';
  width: calc(12rem - 1px);
  height: calc(9rem - 1px);
  border-radius: 10px;
  background-color: var(--background);
}

.sponsors .sponsors-content .sponsors-content-item img {
  position: absolute;
  width: 85%;
}

.wave-img {
  position: absolute;
  margin-top: -12rem;
  z-index: 0;
  border: none;
  transform: matrix(-1, 0, 0, 1, 0, 0) rotate(180deg);
}

.footer .wave-img {
  transform: matrix(-1, 0, 0, 1, 0, 0) rotate(180deg);
  bottom: auto;
}

.footer {
  min-width: 100%;
  min-height: 125%;
  background: linear-gradient(
    151.12deg,
    rgba(122, 150, 248, 0) 19.15%,
    #ef8197 91.38%
  );
  color: var(--white);
  font-family: 'Inter-Regular';
  font-size: 1rem;
  letter-spacing: 0.05rem;
  padding-top: 12rem;
  position: relative;
}

.footer-wrapper {
  padding-top: 4rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.footer-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-left {
  display: flex;
  flex-direction: column;
}

.contact-left h1 {
  font-family: 'Inter-Bold';
  background: var(--heading-orange);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 50px;
  letter-spacing: 0.05em;
  line-height: 61px;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.contact .talk-btn {
  background: var(--btn-orange);
  border: none;
  border-radius: 32px;
  padding: 15px 75px;
  color: var(--white);
  letter-spacing: 0.1rem;
  font-weight: 600;
  margin: 1rem 0;
  width: 50%;
}

.contact-divider {
  position: absolute;
  right: 1rem;
  height: 16rem;
  width: 2px;
  background: var(--fading-white);
}

.contact-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-form p {
  margin-bottom: 0.75rem;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.contact-box {
  display: flex;
  justify-content: space-between;
  background: var(--white);
  margin-bottom: 3rem;
  border-radius: 32px;
  padding: 0 1rem;
  line-height: 30px;
}

.contact-box input {
  background: transparent;
  border: none;
  box-shadow: none;
  outline: none;
}

.contact-box button {
  background: var(--technoscape);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.contact-social-media p {
  margin-bottom: 0.75rem;
}

.contact-icon a:hover {
  text-decoration: none;
}

.contact-icon a > img {
  width: 40px;
  margin-right: 1rem;
}

.footer-credit {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: 100%;
}

.footer-logo {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 2rem;
}

.footer-logo-left {
  display: flex;
  flex-direction: column;
}

.footer-logo-left p {
  margin-bottom: 1rem;
}

.footer-logo-left img {
  width: 200px;
}

.footer-logo-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer-logo-right p {
  margin-bottom: 1rem;
  width: max-content;
}

.footer-logo-right img {
  width: 200px;
}

.footer-divider {
  width: 100%;
  height: 2px;
  background: var(--fading-white);
}

.footer-text {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.footer-text-right {
  display: flex;
  justify-content: flex-end;
}

.footer-text-right a {
  color: var(--white);
}

.footer-text-right a:hover {
  text-decoration: none;
  color: var(--pale-blue);
}

.modal-content {
  border: none;
  border-radius: 32px;
  font-family: 'Inter-Regular';
  font-weight: 400;
  color: var(--white);
}

.modal-body {
  padding: 0;
}

.modal-body .container {
  padding: 0;
}

.modal-wrapper {
  display: flex;
  border-radius: 32px;
}

.modal-left {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  padding-left: 2.5rem;
  padding-right: 4rem;
  background: var(--technoscape);
  border-radius: 32px 0 0 32px;
  font-size: 16px;
}

.modal-left-text {
  padding-bottom: 1rem;
}

.modal-left-text h3 {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.05rem;
  margin-bottom: 1rem;
}

.modal-left-contact {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.modal-left-contact h4 {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.05rem;
}

.modal-left-contact a {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  vertical-align: middle;
  color: var(--white);
}

.modal-left-contact a:hover {
  text-decoration: none;
  color: var(--pale-blue);
}

.modal-left-contact a > img {
  width: 30px;
  margin-right: 0.5rem;
}

.modal-left-contact a > p {
  margin: 0;
}

.modal-right {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  padding-left: 2.5rem;
  padding-right: 4rem;
  background: var(--blue);
  border-radius: 0 32px 32px 0;
  font-size: 16px;
}

.modal-right h1 {
  font-family: 'Inter-Bold';
  font-size: 36px;
  letter-spacing: 0.05rem;
  color: var(--pale-blue);
  margin-bottom: 3rem;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form input {
  background: transparent;
  border: none;
  box-shadow: none;
  outline: none;
  border-bottom: 2px solid var(--white-dark);
  margin-bottom: 2.5rem;
  color: var(--white);
  width: 100%;
}

.modal-form textarea {
  background: transparent;
  border: none;
  box-shadow: none;
  outline: none;
  border-bottom: 2px solid var(--white-dark);
  margin-bottom: 2rem;
  color: var(--white);
  resize: none;
  width: 100%;
}

.modal-form button {
  background: var(--btn-orange);
  border: none;
  border-radius: 32px;
  padding: 12px;
  color: var(--white);
  letter-spacing: 0.1rem;
  font-weight: 600;
  margin: 1rem 0;
  width: 50%;
  text-align: center;
  margin: 2rem auto;
}

.input-box {
  display: flex;
}

.modal-form label {
  order: -1;
  transition: all 0.3s ease-in;
  transform: translateY(0px);
  pointer-events: none;
  font-style: italic;
  color: var(--white-dark);
  position: absolute;
}

.modal-form input:not(:placeholder-shown),
.modal-form input:focus {
  border-bottom: 2px solid var(--pale-blue-light);
}

.modal-form input:not(:placeholder-shown) + label,
.modal-form input:focus + label {
  transform: translateY(-20px);
  font-size: 12px;
  font-style: normal;
  color: var(--pale-blue-light);
}

.modal-form textarea:not(:placeholder-shown),
.modal-form textarea:focus {
  border-bottom: 2px solid var(--pale-blue-light);
}

.modal-form textarea:not(:placeholder-shown) + label,
.modal-form textarea:focus + label {
  transform: translateY(-20px);
  font-size: 12px;
  font-style: normal;
  color: var(--pale-blue-light);
}

.modal {
  padding-right: 0px !important;
}

.set-text-white {
  color: var(--white-dark) !important;
}

.set-border-white {
  border-bottom: 2px solid var(--white-dark) !important;
}

.is-invalid {
  border-bottom: 2px solid red !important;
}

.invalid-feedback {
  position: absolute;
  text-align: right;
  margin-top: 30px;
  right: 64px;
}

.close-btn {
  position: absolute;
  top: 16px;
  right: 20px;
  z-index: 1;
  color: var(--white);
  font-weight: 200;
  opacity: 1;
  font-size: 20px;
}

.close-btn:hover {
  color: var(--white);
}

@media screen and (max-width: 1200px) {
  .talk-btn {
    padding: 14px 30px;
    width: 60%;
  }
}

@media screen and (max-width: 992px) {
  .contact-left h1 {
    font-size: 3rem;
  }

  .contact-box {
    font-size: 12px;
  }

  .talk-btn {
    padding: 14px 30px;
    width: 70%;
  }

  .contact-icon a > img {
    margin-right: 0.5rem;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    font-size: 20px;
  }

  .contact-left h1 {
    text-align: center;
  }

  .talk-btn {
    margin: auto;
    margin-bottom: 4rem;
  }

  .contact-divider {
    display: none;
  }

  .contact-form p {
    text-align: center;
  }

  .contact-box {
    font-size: 16px;
    line-height: 42px;
    padding: 0 1.5rem;
  }

  .contact-social-media p {
    text-align: center;
  }

  .contact-icon {
    display: flex;
    justify-content: center;
  }

  .contact-icon a > img {
    margin: 0 0.75rem;
  }

  .footer-credit {
    margin-top: 6rem;
  }

  .footer-logo {
    flex-wrap: nowrap;
  }

  .footer-logo-right p {
    width: 100%;
    text-align: right;
  }

  .footer-text-right {
    justify-content: flex-start;
    margin-bottom: 2rem;
  }

  .modal-wrapper {
    flex-direction: column-reverse;
  }

  .modal-left {
    border-radius: 0 0 32px 32px;
    padding-bottom: 1rem;
  }

  .modal-right {
    border-radius: 32px 32px 0 0;
  }
}

@media screen and (max-width: 576px) {
  .modal-dialog {
    width: 400px;
    margin: 30px auto;
  }
}

@media screen and (max-width: 478px) {
  .modal-dialog {
    width: 300px;
    margin: 20px auto;
  }

  .footer {
    font-size: 16px;
  }

  .contact-box {
    padding: 0 1rem;
    justify-content: space-between;
    font-size: 14px;
  }

  .footer-logo-left img,
  .footer-logo-right img {
    width: 7rem;
  }
}
