@import './../base/base.css';

:root {
  --top-position: 0%;
  --bottom-position: 0%;
  --planet-width: 0rem;
}

.video {
  background-color: var(--background);
  color: white;
  text-align: center;
  position: relative;
}

.video .video-carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30rem;
}

.video .video-carousel .carousel-card {
  position: absolute;
  top: 0;
  width: 25rem;
  height: 30rem;

  /* Glassmorphism */
  background: radial-gradient(
    88.77% 88.77% at 25.41% 9.11%,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  backdrop-filter: blur(10px);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.video .video-carousel .carousel-card#card-1,
.video .video-carousel .carousel-card#card-5 {
  transform: scale(0.4);
  z-index: 1;
}

.video .video-carousel .carousel-card#card-2,
.video .video-carousel .carousel-card#card-4 {
  transform: scale(0.6);
  z-index: 2;
}

.video .video-carousel .carousel-card#card-3 {
  transform: scale(1);
  z-index: 3;
}

.video .video-carousel .carousel-card#card-1 {
  left: -5%;
}

.video .video-carousel .carousel-card#card-2 {
  left: 10%;
}

.video .video-carousel .carousel-card#card-3 {
  left: 32%;
}

.video .video-carousel .carousel-card#card-4 {
  right: 10%;
}

.video .video-carousel .carousel-card#card-5 {
  right: -5%;
}

.video .floating-planet {
  position: absolute;
  width: 100%;
  height: 100%;
}

.video .floating-planet img {
  position: absolute;
}

.video .floating-planet img#decor-1 {
  left: -20%;
  bottom: -60%;
  width: 70%;
}

.video .floating-planet img#decor-2 {
  right: -10%;
  top: -50%;
  width: 70%;
}

.video .floating-planet img#green-planet {
  left: 5%;
  top: calc(15% + var(--top-position));
  width: calc(8rem + var(--planet-width));
}

.video .floating-planet img#orange-planet {
  right: 0%;
  bottom: calc(0% + var(--bottom-position));
  width: calc(15rem + var(--planet-width));
}

.video .floating-planet img#purple-planet {
  right: 15%;
  top: calc(10% + var(--top-position));
  width: calc(4rem + var(--planet-width));
}

.video .floating-planet img#blue-planet {
  left: 15%;
  bottom: calc(15% + var(--bottom-position));
  width: calc(5rem + var(--planet-width));
}

.video .play-button {
  position: relative;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: linear-gradient(180deg, #ebaf8d -22.64%, #d1534b 91.54%);
  z-index: 5;
  cursor: pointer;
}

.video .play-button .triangle {
  position: absolute;
  left: 30%;
  top: 20%;
  width: 0;
  height: 0;
  border-top: 1.5rem solid transparent;
  border-left: 2.5rem solid white;
  border-bottom: 1.5rem solid transparent;
  border-radius: 5px;
}

.video iframe {
  z-index: 5;
  display: none;
  width: 60%;
  height: 80%;
}

@media only screen and (max-width: 1200px) {
  .video .video-carousel .carousel-card#card-1,
  .video .video-carousel .carousel-card#card-5 {
    display: none;
  }

  .video .video-carousel .carousel-card#card-2 {
    left: 0%;
  }

  .video .video-carousel .carousel-card#card-3 {
    left: 28%;
  }

  .video .video-carousel .carousel-card#card-4 {
    right: 0%;
  }
}

@media only screen and (max-width: 992px) {
  :root {
    --top-position: -100px;
    --bottom-position: -100px;
  }

  .video .floating-planet img#green-planet {
    left: 20%;
    top: calc(10% + var(--top-position));
    width: calc(8rem + var(--planet-width));
  }

  .video .floating-planet img#orange-planet {
    right: 10%;
    bottom: calc(0% + var(--bottom-position));
    width: calc(15rem + var(--planet-width));
  }

  .video .floating-planet img#purple-planet {
    right: 20%;
    top: calc(-10% + var(--top-position));
    width: calc(4rem + var(--planet-width));
  }

  .video .floating-planet img#blue-planet {
    left: 15%;
    bottom: calc(40% + var(--bottom-position));
    width: calc(5rem + var(--planet-width));
  }

  .video .video-carousel .carousel-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .video .play-button {
    position: absolute;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background: linear-gradient(180deg, #ebaf8d -22.64%, #d1534b 91.54%);
    z-index: 5;
    cursor: pointer;
  }

  .video .play-button .triangle {
    position: absolute;
    left: 30%;
    top: 20%;
    width: 0;
    height: 0;
    border-top: 1.5rem solid transparent;
    border-left: 2.5rem solid white;
    border-bottom: 1.5rem solid transparent;
    border-radius: 5px;
  }

  .video .video-carousel .carousel-card {
    position: relative;
  }

  .video .video-carousel .carousel-card#card-1,
  .video .video-carousel .carousel-card#card-5 {
    display: none;
  }

  .video .video-carousel .carousel-card#card-2,
  .video .video-carousel .carousel-card#card-4 {
    display: none;
  }

  .video .video-carousel .carousel-card#card-3 {
    left: 0%;
  }

  .video iframe {
    z-index: 5;
    position: absolute;
    display: none;
    width: 120%;
    height: 100%;
  }
}

@media only screen and (max-width: 767px) {
  :root {
    --top-position: -100px;
    --bottom-position: -120px;
  }

  .video .video-carousel {
    height: 25rem;
  }

  .video .floating-planet img#green-planet {
    left: 15%;
  }

  .video .floating-planet img#orange-planet {
    right: -10%;
  }

  .video .floating-planet img#purple-planet {
    right: 10%;
  }

  .video .floating-planet img#blue-planet {
    left: 10%;
  }

  .video .video-carousel .carousel-card#card-3 {
    width: 20rem;
    height: 25rem;
  }
}

@media only screen and (max-width: 576px) {
  :root {
    --top-position: -100px;
    --bottom-position: -100px;
    --planet-width: -5rem;
  }

  .video .video-carousel {
    height: 15rem;
  }

  .video .play-button {
    width: 4rem;
    height: 4rem;
  }

  .video .play-button .triangle {
    position: absolute;
    left: 35%;
    top: 25%;
    border-top: 1rem solid transparent;
    border-left: 1.8rem solid white;
    border-bottom: 1rem solid transparent;
  }

  .video .video-carousel .carousel-card#card-3 {
    width: 15rem;
    height: 20rem;
  }

  .video iframe {
    z-index: 5;
    position: absolute;
    display: none;
    width: 100%;
    height: 120%;
  }
}
