@import "./../base/base.css";
@import "navbar.css";

.landing {
	min-width: 100%;
	min-height: 100vh;
	position: relative;
	/* overflow-x: hidden; */
	background: var(--landing-bg);
}

.about,
.record,
.footer,
.sponsors,
.video {
	position: relative;
	z-index: 2;
	min-height: 100vh;
}

.technoscape-title,
.about-title,
.sponsors-title,
.medpar-title,
.article-title,
.contact-title {
	background: var(--heading-orange);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-bottom: 1rem;
}

/* WAVE */
.wave {
	width: 100vw;
	position: absolute;
	bottom: -100px;
	left: 0;
}
.wave-img {
	transform: matrix(-1, 0, 0, 1, 0, 0);
	border: none;
	height: 100%;
	width: 100%;
}

/* HERO */
.landing-wrapper {
	max-width: 100vw;
	position: relative;
	z-index: 1;
	padding-top: 4rem;
	text-align: center;
	height: 100vh;
	color: var(--white);
	display: flex;
}

.technoscape-title {
	letter-spacing: 1rem;
	margin: 0;
}
.technoscape-content {
	color: var(--pale-blue);
	margin: 2rem 0;
	padding: 0 10rem;
}
.technoscape-description {
	letter-spacing: 0.1rem;
}
.talk-btn,
.contact-talk-btn {
	background: var(--btn-orange);
	border: none;
	border-radius: 32px;
	padding: 15px 75px;
	color: var(--white);
	letter-spacing: 0.1rem;
	font-weight: 600;
	margin: 1rem 0;
	cursor: pointer;
}
.contact-talk-btn {
	width: 50%;
}
.technoscape-collab {
	font-size: 1.5rem;
	font-weight: 400;
}
.collab-logo {
	margin: 1rem;
	max-width: 15%;
}
.star-container {
	display: flex;
	align-items: center;
	justify-content: center;
}
.star {
	position: fixed;
	top: 100px;
	margin: 0 auto;
	width: 75%;
	z-index: 1;
	max-width: 100%;
}

/* ABOUT */
.about-content-text p {
	color: var(--white);
	/* 30px =  1.9rem */
	line-height: 1.9rem;
}
.glass-card {
	width: 16rem;
	height: 25rem;
	background: radial-gradient(
		88.77% 88.77% at 25.41% 9.11%,
		rgba(255, 255, 255, 0.4) 0%,
		rgba(255, 255, 255, 0) 130%
	);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border-radius: 32px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}
.glass-card:nth-child(2)::before {
	content: "TechnoScape";
	font-family: "Inter-Regular";
	font-style: italic;
	font-size: 1.5rem;
	color: var(--white);
	position: absolute;
	left: 20%;
	bottom: 50%;
	z-index: 2;
}
.glass-card:nth-child(1) {
	position: absolute;
	z-index: 2;
	top: 0px;
	left: 20%;
}
.glass-card:nth-child(2) {
	position: relative;
	z-index: 1;
	transform: translate(100px, 60px);
}
.card1-move-down {
	z-index: 1 !important;
	transform: translateY(60px);
	transition: transform 1.5s;
}
.card1-move-up {
	z-index: 2 !important;
	transform: translateY(0px);
	transition: transform 1.5s;
}
.card2-move-down {
	z-index: 2 !important;
	transform: translateY(-100px, 0px) !important;
	transition: transform 1.5s;
}
.card2-move-up {
	z-index: 1 !important;
	transform: translate(100px, 0px) !important;
	transition: transform 1.5s;
}
.cards .planet {
	position: absolute;
	max-width: 100%;
	z-index: 3;
}
.cards .planet-purple {
	top: 0;
	left: 5%;
	width: 15%;
}
.cards .planet-orange {
	bottom: -100px;
	left: 10%;
	width: 30%;
}
.cards .planet-green {
	top: 50%;
	right: 0;
	width: 10%;
}
.glass-card .card-img {
	margin: auto;
	max-width: 50%;
	filter: blur(1px);
}
.cards .planet:nth-child(odd) {
	animation: float-from-top 4s ease-in-out infinite;
}
.cards .planet:nth-child(even) {
	animation: float-from-bottom 4s ease-in-out infinite;
}

/* RECORD */
.record p {
	margin: 0;
}
.record-box {
	padding: 2rem;
	color: white;
	font-size: 14px;
	text-align: center;
	position: relative;
	width: 100%;
}
.record-ts {
	flex-basis: 33.33%;
	background: linear-gradient(151.12deg, #73bcf9 19.15%, #7a96f8 91.38%);
	border-radius: 20px 0px 0px 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
}
.record-event {
	flex-basis: 66.66%;
	background: radial-gradient(
		85% 140% at 30% 0%,
		rgba(255, 255, 255, 0.4) 0%,
		rgba(255, 255, 255, 0) 100%
	);
	backdrop-filter: blur(30px);
	border-radius: 0px 20px 20px 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 1px solid rgba(255, 255, 255, 0.4);
	border-left: none;
}
.ts-year,
.ts-participants,
.event-participants {
	color: var(--pale-blue) !important;
}
.ts-participants,
.event-participants {
	font-family: "Inter-Regular";
	font-size: 1rem;
}
.ts-title,
.event-title {
	letter-spacing: 0.15em;
}
.ts-num {
	margin-bottom: 0;
}
.event-num {
	font-size: 2.5rem;
}
.event {
	margin-bottom: 2rem;
}
.event:last-child {
	margin-bottom: 0;
}

/* VIDEO */
.video {
	color: var(--white);
	text-align: center;
	/* overflow-x: hidden; */
}
.video .video-carousel {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30rem;
}
.video .video-carousel .carousel-card {
	position: absolute;
	top: 0;
	width: 25rem;
	height: 30rem;

	/* Glassmorphism */
	background: radial-gradient(
		88.77% 88.77% at 25.41% 9.11%,
		rgba(255, 255, 255, 0.4) 0%,
		rgba(255, 255, 255, 0) 100%
	);
	backdrop-filter: blur(10px);
	border-radius: 30px;
	border: 1px solid rgba(255, 255, 255, 0.4);
}
.video .video-carousel .carousel-card#card-1,
.video .video-carousel .carousel-card#card-5 {
	transform: scale(0.4);
	z-index: 1;
}
.video .video-carousel .carousel-card#card-2,
.video .video-carousel .carousel-card#card-4 {
	transform: scale(0.6);
	z-index: 2;
}
.video .video-carousel .carousel-card#card-3 {
	transform: scale(1);
	z-index: 3;
}
.video .video-carousel .carousel-card#card-1 {
	left: -5%;
}
.video .video-carousel .carousel-card#card-2 {
	left: 10%;
}
.video .video-carousel .carousel-card#card-3 {
	left: 32%;
}
.video .video-carousel .carousel-card#card-4 {
	right: 10%;
}
.video .video-carousel .carousel-card#card-5 {
	right: -5%;
}
.video .floating-planet {
	position: absolute;
	width: 100%;
	height: 100%;
}
.video .floating-planet img {
	position: absolute;
}
.video .floating-planet img#decor-1 {
	left: -20%;
	bottom: -60%;
	width: 70%;
	transform: rotate(180deg);
}
.video .floating-planet img#decor-2 {
	right: -20%;
	top: -50%;
	width: 70%;
}
.video .floating-planet img#green-planet {
	left: 5%;
	top: calc(15% + var(--top-position));
	width: 8rem;
}
.video .floating-planet img#orange-planet {
	right: 0%;
	bottom: calc(0% + var(--bottom-position));
	width: 15rem;
}
.video .floating-planet img#purple-planet {
	right: 15%;
	top: calc(10% + var(--top-position));
	width: 4rem;
}
.video .floating-planet img#blue-planet {
	left: 15%;
	bottom: calc(15% + var(--bottom-position));
	width: 5rem;
}
.video .play-button {
	position: relative;
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	background: var(--play-btn);
	z-index: 5;
	cursor: pointer;
}
.video .play-button .triangle {
	position: absolute;
	left: 30%;
	top: 20%;
	width: 0;
	height: 0;
	border-top: 1.5rem solid transparent;
	border-left: 2.5rem solid var(--white);
	border-bottom: 1.5rem solid transparent;
	border-radius: 5px;
}
.video iframe {
	z-index: 5;
	display: none;
	width: 60%;
	height: 80%;
}
.video-description {
	position: relative;
	z-index: 2;
}

/* ARTICLE */
.article {
	min-width: 100%;
	min-height: 100%;
	background: var(--blue);
	font-family: "Inter-Regular";
	font-size: 1rem;
	letter-spacing: 0.05rem;
	color: var(--white);
}

.article-wrapper {
	padding-top: 4rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.article-wrapper .row {
	justify-content: space-between;
}

.article-text {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 0.75fr 0.75fr 1.25fr;
	grid-template-rows: 1fr 0.75fr 0.75fr;
	gap: 0px 0px;
	background: transparent;
	border-radius: 32px;
	justify-items: stretch;
	align-items: center;
	padding: 0;
	margin: 0;
	height: 600px;
	grid-template-areas:
		"card-1 card-1 card-2 card-2"
		"card-3 card-4 card-4 card-6"
		"card-5 card-5 card-5 card-6";
}

.grid-container a {
	display: flex;
	align-items: flex-end;
	height: 100%;
	color: #f4f4f4;
	text-decoration: none;
	position: relative;
	overflow: hidden;
	border: 2px solid rgba(255, 255, 255, 0.2);
}

.card-gradient {
	position: absolute;
	width: 100%;
	height: 100%;
	background: radial-gradient(
		88.77% 88.77% at 25.41% 9.11%,
		rgba(255, 255, 255, 0.7) 0%,
		rgba(255, 255, 255, 0) 100%
	);
}

.card-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
	filter: blur(16px);
	opacity: 65%;
}

.card-bg:hover {
	opacity: 100%;
}

.card-content {
	margin: 0;
	padding: 1rem;
	position: absolute;
	z-index: 1;
	color: var(--white);
}

.article-card-1 {
	background: var(--technoscape) !important;
	grid-area: card-1;
	display: flex;
	justify-content: center;
	align-items: center !important;
	border-radius: 32px 0 0 0;
}

.article-card-1 img {
	width: 80%;
	mix-blend-mode: screen;
}

.article-card-2 {
	grid-area: card-2;
	border-radius: 0 32px 0 0;
}

.article-card-3 {
	grid-area: card-3;
}

.article-card-4 {
	grid-area: card-4;
}

.article-card-5 {
	grid-area: card-5;
	border-radius: 0 0 0 32px;
}

.article-card-6 {
	grid-area: card-6;
	border-radius: 0 0 32px 0;
}

/* SPONSOR MEDPART */
.sponsors {
	min-height: 100vh;
	color: white;
	text-align: center;
}
.sponsors .sponsors-content {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.sponsors .sponsors-content .sponsors-content-item {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	background-image: linear-gradient(
		112.5deg,
		rgba(255, 255, 255, 0.4),
		rgba(255, 255, 255, 0.1)
	);
	backdrop-filter: blur(10px);
	border-radius: 10px;
	/* border: 1px solid rgba(255, 255, 255, 0.4); */
}
.sponsors .sponsors-content#platinum .sponsors-content-item {
	width: 22rem;
	height: 13rem;
}
.sponsors .sponsors-content#platinum .sponsors-content-item::after {
	content: "";
	width: calc(22rem - 1px);
	height: calc(13rem - 1px);
	border-radius: 10px;
	background-color: var(--blue);
}
.sponsors .sponsors-content#gold .sponsors-content-item {
	width: 16rem;
	height: 10rem;
}
.sponsors .sponsors-content#gold .sponsors-content-item::after {
	content: "";
	width: calc(16rem - 1px);
	height: calc(10rem - 1px);
	border-radius: 10px;
	background-color: var(--blue);
}
.sponsors .sponsors-content#silver .sponsors-content-item {
	width: 13rem;
	height: 9rem;
}
.sponsors .sponsors-content#silver .sponsors-content-item::after {
	content: "";
	width: calc(13rem - 1px);
	height: calc(9rem - 1px);
	border-radius: 10px;
	background-color: var(--blue);
}
.sponsors .sponsors-content#medpar .sponsors-content-item {
	width: 12rem;
	height: 9rem;
}
.sponsors .sponsors-content#medpar .sponsors-content-item::after {
	content: "";
	width: calc(12rem - 1px);
	height: calc(9rem - 1px);
	border-radius: 10px;
	background-color: var(--blue);
}
.sponsors .sponsors-content .sponsors-content-item img {
	position: absolute;
	width: 85%;
}

/* FOOTER */
.footer-wave-img {
	position: absolute;
	margin-top: -12rem;
	z-index: 0;
	border: none;
	transform: matrix(-1, 0, 0, 1, 0, 0) rotate(180deg);
}
.footer {
	min-width: 100%;
	min-height: 125%;
	/* overflow-x: hidden; */
	background: var(--landing-bg-reverse);
	color: var(--white);
	font-family: "Inter-Regular";
	font-size: 1rem;
	letter-spacing: 0.05rem;
	padding-top: 12rem;
}
.footer-wrapper {
	padding-top: 4rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 100%;
}
.footer-contact {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.contact-left {
	display: flex;
	flex-direction: column;
}
.contact-title {
	background: var(--heading-orange);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	letter-spacing: 0.05em;
	line-height: 61px;
	margin-top: 2rem;
	margin-bottom: 3rem;
}
.contact-divider {
	position: absolute;
	right: 1rem;
	height: 16rem;
	width: 2px;
	background: var(--fading-white);
}
.contact-right {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.contact-form p {
	margin-bottom: 0.75rem;
}
.italic {
	font-style: italic;
}
.bold {
	font-weight: bold;
}
.contact-box {
	display: flex;
	justify-content: space-between;
	background: var(--white);
	margin-bottom: 3rem;
	border-radius: 32px;
	padding: 0 1rem;
	line-height: 30px;
}
.contact-box input {
	background: transparent;
	border: none;
	box-shadow: none;
	outline: none;
}
.contact-box button {
	background: var(--technoscape);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.contact-social-media p {
	margin-bottom: 0.75rem;
}
.contact-icon a:hover {
	text-decoration: none;
}
.contact-icon a > img {
	width: 40px;
	margin-right: 1rem;
}
.footer-credit {
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
	width: 100%;
}
.footer-logo {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 2rem;
}
.footer-logo-left {
	display: flex;
	flex-direction: column;
}
.footer-logo-left p {
	margin-bottom: 1rem;
}
.footer-logo-left img {
	width: 200px;
}
.footer-logo-right {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.footer-logo-right p {
	margin-bottom: 1rem;
	width: max-content;
}
.footer-logo-right img {
	width: 200px;
}
.footer-divider {
	width: 100%;
	height: 2px;
	background: var(--fading-white);
}
.footer-text {
	display: flex;
	justify-content: space-around;
	margin-top: 1rem;
}
.footer-text-right {
	display: flex;
	justify-content: flex-end;
}
.footer-text-right a {
	color: var(--white);
}
.footer-text-right a:hover {
	text-decoration: none;
	color: var(--pale-blue);
}
.modal-content {
	border: none;
	border-radius: 32px;
	font-family: "Inter-Regular";
	font-weight: 400;
	color: var(--white);
}
.modal-body {
	padding: 0;
}
.modal-body .container {
	padding: 0;
}
.modal-wrapper {
	display: flex;
	border-radius: 32px;
}
.modal-left {
	display: flex;
	flex-direction: column;
	padding-top: 3rem;
	padding-left: 2.5rem;
	padding-right: 4rem;
	background: var(--technoscape);
	border-radius: 32px 0 0 32px;
	font-size: 16px;
}
.modal-left-text {
	padding-bottom: 1rem;
}
.modal-left-text h3 {
	font-weight: 700;
	font-size: 20px;
	letter-spacing: 0.05rem;
	margin-bottom: 1rem;
}
.modal-left-contact {
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem;
}
.modal-left-contact h4 {
	margin-bottom: 0;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 0.05rem;
}
.modal-left-contact a {
	display: flex;
	align-items: center;
	margin-top: 0.5rem;
	vertical-align: middle;
	color: var(--white);
}
.modal-left-contact a:hover {
	text-decoration: none;
	color: var(--pale-blue);
}
.modal-left-contact a > img {
	width: 30px;
	margin-right: 0.5rem;
}
.modal-left-contact a > p {
	margin: 0;
}
.modal-right {
	display: flex;
	flex-direction: column;
	padding-top: 3rem;
	padding-left: 2.5rem;
	padding-right: 4rem;
	background: var(--blue);
	border-radius: 0 32px 32px 0;
	font-size: 16px;
}
.modal-right h1 {
	font-family: "Inter-Bold";
	font-size: 36px;
	letter-spacing: 0.05rem;
	color: var(--pale-blue);
	margin-bottom: 3rem;
}
.modal-form {
	display: flex;
	flex-direction: column;
}
.modal-form input {
	background: transparent;
	border: none;
	box-shadow: none;
	outline: none;
	border-bottom: 2px solid var(--white-dark);
	margin-bottom: 2.5rem;
	color: var(--white);
	width: 100%;
}
.modal-form textarea {
	background: transparent;
	border: none;
	box-shadow: none;
	outline: none;
	border-bottom: 2px solid var(--white-dark);
	margin-bottom: 2rem;
	color: var(--white);
	resize: none;
	width: 100%;
}
.modal-form button {
	background: var(--btn-orange);
	border: none;
	border-radius: 32px;
	padding: 12px;
	color: var(--white);
	letter-spacing: 0.1rem;
	font-weight: 600;
	margin: 1rem 0;
	width: 50%;
	text-align: center;
	margin: 2rem auto;
}
.input-box {
	display: flex;
}
.modal-form label {
	order: -1;
	transition: all 0.3s ease-in;
	transform: translateY(0px);
	pointer-events: none;
	font-style: italic;
	color: var(--white-dark);
	position: absolute;
}
.modal-form input:not(:placeholder-shown),
.modal-form input:focus {
	border-bottom: 2px solid var(--pale-blue-light);
}
.modal-form input:not(:placeholder-shown) + label,
.modal-form input:focus + label {
	transform: translateY(-20px);
	font-size: 12px;
	font-style: normal;
	color: var(--pale-blue-light);
}
.modal-form textarea:not(:placeholder-shown),
.modal-form textarea:focus {
	border-bottom: 2px solid var(--pale-blue-light);
}
.modal-form textarea:not(:placeholder-shown) + label,
.modal-form textarea:focus + label {
	transform: translateY(-20px);
	font-size: 12px;
	font-style: normal;
	color: var(--pale-blue-light);
}
.modal {
	padding-right: 0px !important;
}
.set-text-white {
	color: var(--white-dark) !important;
}
.set-border-white {
	border-bottom: 2px solid var(--white-dark) !important;
}
.is-invalid {
	border-bottom: 2px solid red !important;
}
.invalid-feedback {
	position: absolute;
	text-align: right;
	margin-top: 30px;
	right: 64px;
}
.close-btn {
	position: absolute;
	top: 16px;
	right: 20px;
	z-index: 1;
	color: var(--white);
	font-weight: 200;
	opacity: 1;
	font-size: 20px;
}
.close-btn:hover {
	color: var(--white);
}

@media screen and (max-width: 1200px) {
	.contact-talk-btn {
		padding: 14px 30px;
		width: 60%;
	}
	.wave {
		bottom: -90px;
	}
	.video .video-carousel .carousel-card#card-1,
	.video .video-carousel .carousel-card#card-5 {
		display: none;
	}

	.video .video-carousel .carousel-card#card-2 {
		left: 0%;
	}

	.video .video-carousel .carousel-card#card-3 {
		left: 28%;
	}

	.video .video-carousel .carousel-card#card-4 {
		right: 0%;
	}
}

@media screen and (max-width: 992px) {
	:root {
		--top-position: -100px;
		--bottom-position: -100px;
	}
	.star-container {
		display: none;
	}
	.technoscape-content {
		padding: 0 2rem;
	}
	.collab-logo {
		max-width: 25%;
	}
	.wave {
		bottom: -70px;
	}
	.glass-card {
		width: 14rem;
		height: 23rem;
	}
	.cards .planet {
		position: absolute;
		max-width: 100%;
		z-index: 3;
	}
	.cards .planet-green {
		right: -50px;
	}
	.record-box {
		padding: 1rem;
	}
	.ts-participants,
	.event-participants {
		font-size: 0.9rem;
	}

	.contact-box {
		font-size: 12px;
	}

	.contact-talk-btn {
		padding: 14px 30px;
		width: 70%;
	}

	.contact-icon a > img {
		margin-right: 0.5rem;
	}
	.video .floating-planet img#green-planet {
		left: 20%;
		top: calc(10% + var(--top-position));
		width: calc(8rem + var(--planet-width));
	}

	.video .floating-planet img#orange-planet {
		right: 10%;
		bottom: calc(0% + var(--bottom-position));
		width: calc(15rem + var(--planet-width));
	}

	.video .floating-planet img#purple-planet {
		right: 20%;
		top: calc(-10% + var(--top-position));
		width: calc(4rem + var(--planet-width));
	}

	.video .floating-planet img#blue-planet {
		left: 15%;
		bottom: calc(40% + var(--bottom-position));
		width: calc(5rem + var(--planet-width));
	}

	.video .video-carousel .carousel-cards {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
	}

	.video .play-button {
		position: absolute;
		width: 5rem;
		height: 5rem;
		border-radius: 50%;
		background: linear-gradient(180deg, #ebaf8d -22.64%, #d1534b 91.54%);
		z-index: 5;
		cursor: pointer;
	}

	.video .play-button .triangle {
		position: absolute;
		left: 30%;
		top: 20%;
		width: 0;
		height: 0;
		border-top: 1.5rem solid transparent;
		border-left: 2.5rem solid white;
		border-bottom: 1.5rem solid transparent;
		border-radius: 5px;
	}

	.video .video-carousel .carousel-card {
		position: relative;
	}

	.video .video-carousel .carousel-card#card-1,
	.video .video-carousel .carousel-card#card-5 {
		display: none;
	}

	.video .video-carousel .carousel-card#card-2,
	.video .video-carousel .carousel-card#card-4 {
		display: none;
	}

	.video .video-carousel .carousel-card#card-3 {
		left: 0%;
	}

	.video iframe {
		z-index: 5;
		position: absolute;
		display: none;
		width: 120%;
		height: 100%;
	}
}

@media screen and (max-width: 768px) {
	:root {
		--top-position: -100px;
		--bottom-position: -120px;
	}
	.article-text {
		text-align: center;
	}

	.article-title {
		margin-bottom: 2rem;
	}

	.grid-container {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-areas:
			"card-1"
			"card-2"
			"card-3"
			"card-4"
			"card-5"
			"card-6";
		padding: 2rem 1rem;
	}

	.card-content {
		right: 0;
		max-width: 80%;
		text-align: right;
	}

	.article-card-1 {
		border-radius: 32px 32px 0 0;
	}

	.article-card-1 img {
		height: 25%;
		mix-blend-mode: screen;
	}

	.article-card-2,
	.article-card-5 {
		border-radius: 0;
	}

	.article-card-6 {
		border-radius: 0 0 32px 32px;
	}

	.technoscape-title {
		letter-spacing: 10px;
	}
	.wave {
		bottom: -55px;
	}
	.cards {
		order: -1;
		margin-top: 5rem !important;
		margin-bottom: 5rem;
	}
	.about-content-text {
		text-align: center;
	}
	.about-content-text h1 {
		margin: 2rem 0;
	}
	.ts-participants,
	.event-participants {
		font-size: 1rem;
	}
	.record-ts,
	.record-event {
		flex-basis: 100%;
	}
	.record-ts {
		border-radius: 20px 20px 0 0;
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
	.record-event {
		border-radius: 0 0 20px 20px;
		border: 1px solid rgba(255, 255, 255, 0.4);
		border-top: none;
	}
	.event-box {
		margin: 1rem 0;
	}
	.footer {
		font-size: 20px;
	}

	.contact-left h1 {
		text-align: center;
	}

	.contact-talk-btn {
		margin: auto;
		margin-bottom: 4rem;
	}

	.contact-divider {
		display: none;
	}

	.contact-form p {
		text-align: center;
	}

	.contact-box {
		font-size: 16px;
		line-height: 42px;
		padding: 0 1.5rem;
	}

	.contact-social-media p {
		text-align: center;
	}

	.contact-icon {
		display: flex;
		justify-content: center;
	}

	.contact-icon a > img {
		margin: 0 0.75rem;
	}

	.footer-credit {
		margin-top: 6rem;
	}

	.footer-logo {
		flex-wrap: nowrap;
	}

	.footer-logo-right p {
		width: 100%;
		text-align: right;
	}

	.footer-text-right {
		justify-content: flex-start;
		margin-bottom: 2rem;
	}

	.modal-wrapper {
		flex-direction: column-reverse;
	}

	.modal-left {
		border-radius: 0 0 32px 32px;
		padding-bottom: 1rem;
	}

	.modal-right {
		border-radius: 32px 32px 0 0;
	}
	.video .video-carousel {
		height: 25rem;
	}

	.video .floating-planet img#green-planet {
		left: 15%;
	}

	.video .floating-planet img#orange-planet {
		right: -10%;
	}

	.video .floating-planet img#purple-planet {
		right: 10%;
	}

	.video .floating-planet img#blue-planet {
		left: 10%;
	}

	.video .video-carousel .carousel-card#card-3 {
		width: 20rem;
		height: 25rem;
	}
}

@media screen and (max-width: 576px) {
	:root {
		--top-position: -100px;
		--bottom-position: -100px;
		--planet-width: -5rem;
	}
	.talk-btn {
		padding: 12px 60px;
	}
	.technoscape-content {
		margin: 1rem 0;
	}
	.wave {
		bottom: -45px;
	}
	.technoscape-content {
		padding: 0;
	}
	.modal-dialog {
		width: 400px;
		margin: 30px auto;
	}
	.video .video-carousel {
		height: 15rem;
	}
	.video .play-button {
		width: 4rem;
		height: 4rem;
	}
	.video .play-button .triangle {
		position: absolute;
		left: 35%;
		top: 25%;
		border-top: 1rem solid transparent;
		border-left: 1.8rem solid white;
		border-bottom: 1rem solid transparent;
	}
	.video .video-carousel .carousel-card#card-3 {
		width: 15rem;
		height: 20rem;
	}

	.video iframe {
		z-index: 5;
		position: absolute;
		display: none;
		width: 100%;
		height: 120%;
	}
}

@media screen and (max-width: 428px) {
	.wave {
		bottom: 0;
	}
	.landing-wrapper {
		padding-top: 0;
	}
	.collab-logo {
		margin: 0 0.2rem;
		max-width: 40%;
	}
	.technoscape-title {
		letter-spacing: 3px;
		margin: 1rem 0;
	}
	.technoscape-content {
		margin: 3rem 0;
		padding: 0;
	}
	.technoscape-description {
		letter-spacing: 0;
	}
	.talk-btn {
		padding: 10px 60px;
	}
	.glass-card {
		width: 12rem;
		height: 18rem;
	}
	.glass-card:nth-child(2) {
		transform: translate(70px, 70px);
	}
	.card-2.card2-move-down {
		transform: translate(70px, 70px) !important;
	}
	.card-2.card2-move-up {
		transform: translate(70px, 0px) !important;
	}
	.glass-card:nth-child(2)::before {
		font-size: 1rem;
	}

	.cards .planet-green {
		right: 0px;
		width: 10%;
	}
	.modal-dialog {
		width: 300px;
		margin: 20px auto;
	}

	.footer {
		font-size: 16px;
	}

	.contact-box {
		padding: 0 1rem;
		justify-content: space-between;
		font-size: 14px;
	}

	.footer-logo-left img,
	.footer-logo-right img {
		width: 7rem;
	}
}

@keyframes float-from-top {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(0px);
	}
}

@keyframes float-from-bottom {
	0% {
		transform: translateY(-10px);
	}
	50% {
		transform: translateY(0px);
	}
	100% {
		transform: translateY(-10px);
	}
}
