@import "./../base/base.css";

.navbar {
  background: var(--technoscape);
  padding: 1.5vw 6vw;
  position: fixed;
  width: 100%;
  top: 0;
}

.nav-img {
  width: 10rem;
  filter: invert(1);
}

.nav-button {
  display: none;
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
}

.nav-button img {
  width: 32px;
}

body {
  background-color: var(--blue);
  font-family: "Inter-Regular";
  color: var(--white);
}

.container {
  overflow: hidden;
  margin: 8rem 3rem;
  padding-bottom: 1rem;
}

.tab-divider {
  height: auto;
  width: 0.25rem;
  background: var(--fading-white);
}

.tab-heading {
  color: var(--pale-blue);
  font-weight: 700;
  font-size: 50px;
  letter-spacing: 0.05em;
  line-height: 61px;
  font-family: "Inter-Bold";
}

.tab-subheading {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 28px;
}

.tab-miniheading {
  font-weight: 700;
  font-size: 20px;
  margin-top: 2rem;
}

.bold {
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.nav-pills {
  color: transparent;
  letter-spacing: 0.05em;
  margin-top: 3rem;
  margin-left: 3rem;
  width: 50%;
}

.tab-content {
  margin-left: 3rem;
  margin-top: 3rem;
  width: 100%;
}

.nav-link {
  color: var(--white);
}

.nav-link:hover {
  color: var(--white);
}

.nav-link.active {
  background-color: transparent !important;
  color: var(--pale-blue) !important;
}

@media screen and (max-width: 992px) {
  .nav-pills {
    margin-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    height: 3.5rem;
  }

  .nav-button {
    display: block;
  }

  .container {
    margin: 4rem auto;
  }

  .nav-pills {
    height: 100vh; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: var(--blue); /* Black*/
    overflow-x: auto; /* Disable horizontal scroll */ /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    margin-top: 3.5rem;
  }

  .nav-link {
    padding-top: 2rem;
    padding-left: 2rem;
  }

  .tab-divider {
    display: none;
  }

  .tab-content {
    margin-left: 0;
    margin-top: 2rem;
  }

  .tab-heading {
    font-size: 32px;
  }
}

@media screen and (max-width: 478px) {
  .navbar {
    padding: 2vw;
  }
}
